<%- include("partials/header") -%>



<body data-sidebar="dark">

    <!-- <body data-layout="horizontal" data-topbar="colored"> -->


        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Fleet Dashboard</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item active">
                  <a class="nav-link"  href="/driverTasks">My tasks </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link " style="position:absolute ;right: 10px;" href="/logout">Sign-out</a>
                </li>
              </ul>
            </div>
          </nav>

          <div class="container-fluid">
    
                  <div style="justify-content: center; margin-top: 10%;" class="row">
    <div class="col-lg-8">
        
      
      
      <% trips.forEach(element => { %>

        <div style="background-color: rgb(174, 173, 173); margin: 5px;">
          <h6> Trip ID: <span> <%= element.tripID %> </span> </h6>
          <h6> Driver name:  <span> <%= element.driverName %> </span> </h6>
          <h6>  Vehicle number:   <span> <%= element.vehNum %> </span> </h6>
        </div>
        
      <%  }); %>

    

</div>
        </div>

    </div>
          


    <!-- Right Sidebar -->
    <div class="right-bar">
        <div data-simplebar class="h-100">

            <div class="rightbar-title d-flex align-items-center px-3 py-4">

                <h5 class="m-0 me-2">Settings</h5>

                <a href="javascript:void(0);" class="right-bar-toggle ms-auto">
                        <i class="mdi mdi-close noti-icon"></i>
                    </a>
            </div>

            <!-- Settings -->
            <hr class="mt-0" />





            <h6 class="text-center mb-0 mt-3">Choose Layouts</h6>

            <div class="p-4">
                <a href="">Sign Out</a>
            </div>

        </div>
        <!-- end slimscroll-menu-->
    </div>
    <!-- /Right-bar -->

    <!-- Right bar overlay-->
    <div class="rightbar-overlay"></div>

    <!-- JAVASCRIPT -->
    <script src="assets/libs/jquery/jquery.min.js"></script>
    <script src="assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/libs/metismenu/metisMenu.min.js"></script>
    <script src="assets/libs/simplebar/simplebar.min.js"></script>
    <script src="assets/libs/node-waves/waves.min.js"></script>
    <script src="assets/libs/jquery-sparkline/jquery.sparkline.min.js"></script>

    <!--Morris Chart-->
    <script src="assets/libs/morris.js/morris.min.js"></script>
    <script src="assets/libs/raphael/raphael.min.js"></script>

    <script src="assets/js/pages/dashboard.init.js"></script>

    <script src="assets/js/app.js"></script>

</body>

</html>