<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <a href="adminLogin.ejs">Admin Login</a> <br>
    <a href="fleetManager.ejs">Fleet manager Login</a> <br>
    <a href="DriverLogin.ejs">Driver Login</a> <br>
    <a href="EmployeeLogin.ejs">Employee Login</a>



    <script src="/socket.io/socket.io.js"></script>
    <script>
      var socket = io();
    </script>
</body>

</html>